<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Stimulsoft Report Viewer</title>
		<!-- Include Stimulsoft scripts -->
		<script
			type="text/javascript"
			src="/static/scripts/stimulsoft.reports.js"></script>
		<script
			type="text/javascript"
			src="/static/scripts/stimulsoft.viewer.js"></script>
		<!-- <script type="text/javascript"></script> -->
	</head>
	<body>
		<div id="app" style="width: 100%; height: 100vh"></div>
		<script type="text/javascript">
			// Create a new report object
			var report = new Stimulsoft.Report.StiReport()
			console.log("Report (initial):", report)
			const urlParams = "{{ request.query_params }}"
			console.log("URL Params:", urlParams)

			// Define the path to the JSON data
			var campaignApiUrl =
				"https://adintel.palmerhill.com/campaigns/?skip=0&limit=5" // Change this path as needed
			var dataSourceTypeUrl =
				"https://adintel.palmerhill.com/data_source_types/?skip=0&limit=5"
			var metricsGroupedApiUrl =
				"https://adintel.palmerhill.com/metrics/grouped?start_date=2024-05-01&end_date=2024-05-30&group_data_source=false&aggregate_by=day&skip=0&limit=20"

			async function loadAndRegisterFilteredCampaigns() {
				try {
					// Fetch data from the filteredCampaigns API URL
					const response = await fetch(campaignApiUrl)
					if (!response.ok) {
						throw new Error(
							`Network response was not ok: ${response.statusText}`
						)
					}

					// Parse the JSON response
					const jsonData = await response.json()
					console.log("Filtered Campaigns JSON Data:", jsonData)

					// Create a new DataSet for the filtered campaigns
					var filteredCampaignsDataSet =
						new Stimulsoft.System.Data.DataSet("filteredCampaigns")

					// Load the JSON data into the dataset
					filteredCampaignsDataSet.readJson(jsonData)
					console.log(
						"FilteredCampaignsDataSet:",
						filteredCampaignsDataSet.tables.list[0].rows
					)

					// Register the dataset with the report
					report.regData(
						filteredCampaignsDataSet.dataSetName,
						"filteredCampaigns",
						filteredCampaignsDataSet
					)
					console.log("FilteredCampaignsDataSet registered successfully")
				} catch (error) {
					console.error("Failed to load filteredCampaigns data:", error)
				}
			}

			async function loadAndRegisterMetricsGrouped() {
				try {
					const response = await fetch(metricsGroupedApiUrl)
					if (!response.ok) {
						throw new Error(
							`Network response was not ok: ${response.statusText}`
						)
					}
					const jsonData = await response.json()
					// Add a calculated column for ClickThroughRate percentage.  This caluclated field is also in the Designer
					jsonData.forEach((item) => {
						if (item.total_ctr != null) {
							item.ctr_percentage = item.total_ctr // Adding a new field for the percentage value
						} else {
							item.ctr_percentage = 0 // Handle null or undefined values
						}
					})
					console.log(jsonData)
					var metricsGroupedDataSet = new Stimulsoft.System.Data.DataSet(
						"metricsGrouped"
					)
					metricsGroupedDataSet.readJson(jsonData)
					console.log("MetricsGroupedDataSet:", metricsGroupedDataSet)

					report.regData(
						metricsGroupedDataSet.dataSetName,
						"metricsGrouped",
						metricsGroupedDataSet
					)
					console.log("MetricsGroupedDataSet registered successfully")
				} catch (error) {
					console.error("Failed to load metricsGrouped data:", error)
				}
			}

			async function loadAndRegisterDataSourceTypes() {
				try {
					// Fetch data from the dataSourceTypes API URL
					const response = await fetch(dataSourceTypeUrl)
					if (!response.ok) {
						throw new Error(
							`Network response was not ok: ${response.statusText}`
						)
					}

					// Parse the JSON response
					const jsonData = await response.json()
					console.log("DataSource Types JSON Data:", jsonData)

					// Create a new DataSet for the dataSource types
					var dataSourceTypesDataSet = new Stimulsoft.System.Data.DataSet(
						"dataSourceTypes"
					)

					// Load the JSON data into the dataset
					dataSourceTypesDataSet.readJson(jsonData)
					console.log("DataSourceTypesDataSet:", dataSourceTypesDataSet)

					// Register the dataset with the report
					report.regData(
						dataSourceTypesDataSet.dataSetName,
						"dataSourceTypes",
						dataSourceTypesDataSet
					)
					console.log("DataSourceTypesDataSet registered successfully")
				} catch (error) {
					console.error("Failed to load dataSourceTypes data:", error)
				}
			}

			async function initializeReport() {
				// Load the report template
				report.loadFile("/static/reports/Campaign1.mrt")
				// Clear any existing data sources

				report.dictionary.dataSources.clear()
				// console.log("Cleared Data Sources:", report.dictionary.dataSources)

				// Load and register metricsGrouped dataset
				await loadAndRegisterFilteredCampaigns()
				await loadAndRegisterDataSourceTypes()
				await loadAndRegisterMetricsGrouped()

				// Synchronize the dictionary after all datasets are registered
				report.dictionary.synchronize()

				//Get charts and format labels
				var totalCostChart = report.getComponentByName("total_cost")
				var lineClicksChart = report.getComponentByName("line_clicks")
				var lineImpressionsChart =
					report.getComponentByName("line_impressions")
				var lineCtrChart = report.getComponentByName("line_ctr")

				totalCostChart.area._yAxis.labels.format = "$#,###"
				totalCostChart.area._xAxis.labels.format = "MM/dd"
				lineClicksChart.area._yAxis.labels.format = "#,###"
				lineClicksChart.area._xAxis.labels.format = "MM/dd"
				lineImpressionsChart.area._yAxis.labels.format = "#,K"
				lineImpressionsChart.area._xAxis.labels.format = "MM/dd"
				lineCtrChart.area._yAxis.labels.format = "0.0%"
				lineCtrChart.area._xAxis.labels.format = "MM/dd"

				// Create a viewer, assign the report, and render it
				var viewer = new Stimulsoft.Viewer.StiViewer(
					null,
					"StiViewer",
					false
				)
				viewer.report = report
				viewer.renderHtml("app")
			}

			initializeReport()
			console.log("Report initialized", report)
		</script>
	</body>
</html>

<!-- <!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>Render and Export a Report</title>

		{{ reportJavaScript|safe }}
	</head>

	<body>
		<h1>Hello World</h1>
		{{ reportHtml|safe }}
	</body>
</html> -->
